*.o
*Results.plist
Makedefs
autom4te.cache
config.h
config.log
config.status
cups/libcups.a
sw-ippeveselfcert10-*
tests/pwg-raster-samples-*
tools/ippevesubmit
tools/ippfind
tools/ippserver
tools/ipptool
vcnet/.vs
vcnet/sw-ippeveselfcert-cache
vcnet/packages
vcnet/sw-ippeveselfcert.back.aip
vcnet/x64
