* text=auto
*.ac text
*.aip text eol=crlf
*.aiproj text eol=crlf
*.bat text eol=crlf
*.c text
*.cxx text
*.h text
*.in text
*.jpg binary
*.m4 text
*.pdf binary
*.png binary
*.sh text
*.sln eol=crlf
*.test text
.cups-upstream export-ignore
.git* export-ignore
